<% include partials/header %>
<h1>Ajouter un nouveau colis</h1>
<form action="/packages" method="POST">
    <input type="text" placeholder="Name" name="name">   
    <input type="text" placeholder="Sender" name="sender"> 
    <button>Submit</button>  
</form>
<a href="/packages">Retour</a>
<% include partials/footer %>