body {
    padding-top :60px;
    background-color: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-responsive{
    margin-top: 2%;
}
thead{
    background-color: #00b2ce;

}
h1{
    color: #3c3c3c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.deleteLink {
    font-size: 12px;
    margin: 2px;
} 
.editLink{
    font-size: 12px;
    margin: 2px 1px;
}
body {
    /* To correct the bug of body shifting to left when closing modal*/
    padding-left: 0 !important ;
    padding-right: 0 !important ;
}
li:hover{
    cursor: pointer;
}
#brand{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav.fixed-top{
    background-color: #3c3c3c;
}


.btn-mycampus {
    color: #fff;
    background-color: #00b2ce;
    border-color: #00b2ce;
    outline: none;
}

.btn-mycampus:hover {
    color: #fff;
    background-color: #009eb6;
    border-color: #009eb6;
}
.btn-mycampus:focus, .btn-mycampus.focus {
    box-shadow: 0 0 0 0;
}

.bg-mycampus{
    background-color: #00b2ce;
}
.bg-mycampus-active{
    background-color: #009eb6;
}

ul.pagination li a:hover{
    background-color: #009eb6 !important;
}


.disabled-mycampus{
    background-color: #009eb6 !important;
}*/

.badge-mycampus {
    color: #fff;
    background-color: #00b2ce;
}

a.badge-mycampus:hover, a.badge-mycampus:focus {
    color: #fff;
    background-color: #009eb6;
}
a[href='/logout']{
    color:#d6d6d6 !important;
}

a[href='/logout']:hover{
    color:#fff !important;
}

i{
    font-size: 0.8rem !important;
}

a.badge{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}